fastapi
uvicorn[standard]
python-multipart
python-dotenv
aiofiles
# Add any other dependencies from your Streamlit app
streamlit
pandas
numpy
matplotlib
scikit-learn
androguard
tldextract
python-whois
